APP_NAME="Abiesoft Framework"
APP_ENV=local
SERVER_HOST=127.0.0.1
SERVER_PORT=5173
BASEURL=http://127.0.0.1:5173/
PUBLIC_FOLDER=public

DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=3306
PRIVATE_STORAGE=pstorage
LOGIN_PAGE=login

# Jika mode develope fitur2 untuk develope ditampilkan secara default.
# Bisa mengakses url api secara langsung tanpa verifikasi token ijin akses.
# Jika mode production maka url api tidak bisa diakses secara langsung.
MODE=develope

# Output console text/ json
# Output console ini digunakan ketika modenya develope
# Dan berlaku di getData, postData, postDelete
OUTPUT_MODE=json

APIKEY=
SECRET_KEY=

# File Tipe
FILE_TIPE_IMAGE=jpg,jpeg,png,gif
FILE_TIPE_MEDIA=mp3,mp4
FILE_TIPE_DOKUMEN=doc,docx,xls,xlsx,ppt,pptx,pdf

# file Size
FILE_SIZE_IMAGE=2000000 # 2MB
FILE_SIZE_MEDIA=80000000 # 8MB
FILE_SIZE_DOKUMEN=80000000  # 8MB 


# Token Service
EMAIL_PASSWORD=""
EMAIL_AKUN=""
EMAIL_USER=""
EMAIL_PORT=587
EMAIL_SMTP_AUTH=true
EMAIL_HOST=""


# Perbaikan: GOARCH biasanya 'amd64' atau 'arm64'. 
# Jika amd64 biasanya support Window, Linux dan Mac
ARCH_OS=amd64